@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-palette-white: #eaeefb;
  --color-palette-background: #020000;
  --color-palette-emph: #a02c62;
  --color-palette-emph2: #426eaa;
  --color-palette-gold: #b08a57;
}

* {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.06em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-palette-white);
  margin: 0;
  padding: 0;
}

/* img {
  max-width: 100%;
  height: auto;
  display: block;
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
